<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../base/includes/head', {title: '로그인'})%>
    <link rel="stylesheet" href="css/form.css" />
  </head>
  <body>
    <%- include('../base/includes/header') %>
    <main>
      <h1>로그인</h1>
      <section>
        <h2><%= inputData.errorMassage %></h2>
      </section>
      <hr />
      <form action="/login" method="POST" id="signUpForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <table>
          <tbody>
            <tr>
              <th>
                <label for="email">이메일</label>
              </th>
              <td>
                <input
                  id="email"
                  name="email"
                  type="email"
                  value="<%= inputData.email %>"
                  required
                />
              </td>
            </tr>
            <tr>
              <th>
                <label for="password">비밀번호</label>
              </th>
              <td>
                <input
                  id="password"
                  name="password"
                  type="password"
                  minlength="6"
                  value="<%= inputData.password %>"
                  required
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div id="btnDiv">
          <button class="Btn button">로그인</button>
        </div>
        <a id="loginLink" href="/signup">가입하러 가기</a>
      </form>
    </main>
  </body>
</html>
