<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../base/includes/head', {title: '회원가입'})%>
    <link rel="stylesheet" href="css/form.css" />
    <script src="script/form.js" defer></script>
  </head>
  <body>
    <%- include('../base/includes/header') %>
    <main>
      <h1>회원가입</h1>
      <section>
        <h2><%= inputData.errorMassage %></h2>
      </section>
      <hr />
      <form action="/signup" method="POST" id="signUpForm">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
        <table>
          <tbody>
            <tr>
              <th>
                <label for="email">이메일</label>
              </th>
              <td>
                <input
                  id="email"
                  name="email"
                  type="email"
                  value="<%= inputData.email %>"
                  required
                />
                <button id="duplicateCheck" type="button" data-csrfToken="<%= locals.csrfToken %>">중복확인</button>
                <p id="emailNotInput">이메일을 입력해주세요.</p>
                <p id="duplicateAlert">이미 가입된 이메일입니다.</p>
                <p id="signUpAvailable">가입 가능한 이메일입니다.</p>

              </td>
            </tr>
            <tr>
              <th>
                <label for="password">비밀번호</label>
              </th>
              <td>
                <input
                  id="password"
                  name="password"
                  type="password"
                  minlength="6"
                  required
                />
              </td>
            </tr>
            <tr>
              <th>
                <label for="confirm-password">비밀번호 확인</label>
              </th>
              <td>
                <input
                  id="confirm-password"
                  name="confirm-password"
                  type="password"
                  required
                />
                <p id="invalidPassword"></p>
              </td>
            </tr>
            <tr>
              <th>
                <label for="name">이름</label>
              </th>
              <td>
                <input
                  id="name"
                  name="name"
                  type="text"
                  value="<%= inputData.name %>"
                  required
                />
              </td>
            </tr>
            <tr>
              <th>
                <label for="address">주소</label>
              </th>
              <td>
                <input
                  id="address"
                  name="address"
                  type="text"
                  value="<%= inputData.address %>"
                  required
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div id="btnDiv">
          <button class="Btn">가입하기</button>
        </div>
        <a id="loginLink" href="/login">로그인하러 가기</a>
      </form>
    </main>
  </body>
</html>
