<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../base/includes/head', {title: "장바구니"})%>
    <link href="/css/cart.css" rel="stylesheet" />
    <script src="/script/cart.js" defer></script>
    <script src="https://js.tosspayments.com/v1"></script>
  </head>
  <body>
    <%- include('../base/includes/header') %>
    <main>
      <h1>장바구니</h1>
      <form class="cartList" action="/customer/cart" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
        <section class="productList">
          <% if (locals.cartList.length === 0 || !locals.cartList) { %>
          <p class="emptyCart">
            장바구니가 비었습니다. 마음에 드는 상품을 채워주세요!
          </p>
          <% } %> <% for (const product of locals.cartList) { %> <%-
          include('./includes/cartContent', {product: product}) %> <% } %>
        </section>
        <section class="cartOrder">
          <table>
            <tbody>
              <tr>
                <th>
                  <p>받으시는분</p>
                </th>
                <td>
                  <% if (locals.user) { %>
                  <p id="name"><%= locals.user.name %></p>
                  <% } %>
                </td>
              </tr>
              <tr>
                <th>
                  <p>주소</p>
                </th>
                <td>
                  <% if (locals.user) { %>
                  <p>
                    <%= locals.user.address.address %> <%=
                    locals.user.address.detailAddress %>
                  </p>
                  <% } %>
                </td>
              </tr>
              <tr>
                <th>
                  <p>총 가격</p>
                </th>
                <td>
                  <p id="cartTotalPrice"></p>
                  <input
                    id="orderPrice"
                    type="hidden"
                    name="orderPrice"
                    value=""
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div id="btnDiv">
            <button type="button" id="payment-button">주문하기</button>
          </div>
        </section>
      </form>
    </main>
  </body>
</html>
