<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/img/<%= product.filename %>" class="img-fluid rounded-start" alt="<%= product.title %>">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= product.title %></h5>
          <p class="card-text"><%= product.commasPrice %></p>
          <input id="orderCount" type="number" min="1" step="1" value="<%= product.ordercount %>">
          <input id="price" type="hidden" value="<%= product.price %>">
          <p class="card-text" id="itemTotalPrice"></p>
        </div>
      </div>
    </div>
</div>