<div class="conteiner">
  <table>
    <tbody>
      <tr>
        <td>
          <img src="<%= order.imgURL %>" alt="<%= order.title %>" />
        </td>
        <td>
          <p><%= order.title %></p>
          <p><%= order.commasPrice %></p>
          <p><%= order.orderCount %>개</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
